{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="Hindustani Classical Raaga"
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        Hi, I'm Ganesh! In this I have tried to give some information about the Hindustani Classsical Raagas
                        The Ragas are the most important aspect of learning classical music, 
                        and if you do not comprehend its significance, you will not achieve the best possible results
                    </p>
                    <p>
                        Practice, Practice…Practice

                        What’s the point of learning if you don’t put it into practice?

                        Regular practice allows you to articulate complicated phrases while keeping pace and rhythm. It is critical to practice. 
                        But first, listen to the original several times (if it isn’t your own original, of course). 
                        Before you start singing, be sure you understand what you’re doing. 
                        Make a mental image of the metronome ticking. Tap with your fingers or your feet and keep track of the rhythms. And practice rushing or slowing down the song from its original tempo. 
                        Remember to sing on the beat and not to vary the tempo based on your error.
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">Django</li>
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>
                        </ul>
                    </article>
                    <h3 class="project__heading project__heading--meta--cta">Source Code</h3>
                    <a class="cta" href="{{ project['source-code'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='img/git.png') }}">
                        View in Github
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}
