{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="AI Virtual Mouse"
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        The project presents the MRI brain diagnosis support system for structure segmentation and its analysis using K-means clustering technique integrated with Fuzzy C-means algorithm. 
                        The method is proposed to segment normal tissues such as White Matter, Gray Matter, Cerebrospinal Fluid and abnormal tissue like tumour part from MR images automatically. 
                        These MR brain images are often corrupted with Intensity In homogeneity artefacts cause unwanted intensity variation due to non- uniformity in RF coils and noise due to thermal vibrations of electrons and ions and movement of objects during acquisition which may affect the performance of image processing techniques used for brain image analysis. Due to this type of artefacts and noises, sometimes one type of normal tissue in MRI may be misclassified as other type of normal tissue and it leads to error during diagnosis. 
                        The proposed method consists of pre-processing using Gaussian filter to remove noise and K-means clustering technique integrated with Fuzzy C-means algorithm segments normal tissues by considering spatial information because neighbouring pixels are highly correlated and also construct initial membership matrix randomly. The system also uses to segment the tumour cells along with this morphological filtering will be used to remove background noises for smoothening of region. The project results will be presented as segmented tissues and classification using neural network classifier
                    </p>
                    
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">Open-CV/ Computer Vision</li>
                            <li class="technology-list__item">AI-ML</li>
                            <li class="technology-list__item">Neural Networks</li>
                        </ul>
                    </article>
                    
                    <h3 class="project__heading project__heading--meta--cta">Source Code</h3>
                    <a class="cta" href="{{ project['source-code'] }}">
                        
                        <img class="cta__icon" src="{{ url_for('static', filename='img/git.png') }}">
                        View in Github
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}
