{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="AI Virtual Mouse"
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        AI Virtual Mouse is a software that allows users to give inputs of a mouse to the system without using the actual mouse. 
                        To the extreme, it can also be called hardware as it uses an ordinary camera. 
                        A virtual muse can usually be operated with multiple input devices, which may include an actual mouse or computer keyboard. 
                        The virtual mouse uses a web camera with the help of different image processing techniques. 
                        Using figures detection methods for instant Camera access and a user-friendly interface makes it more easily accessible. The system is used to implement a motion-tracking mouse, a physical mouse that saves time and also reduces effort.
                        The hand movements of a user are mapped into mouse inputs. A web camera is set to take images continuously. Most laptops today are equipped with webcams, which have recently been used in security applications utilizing face recognition. To harness the full potential of a webcam, it can be used for vision-based CC which would effectively eliminate the need for a computer mouse or mouse pad. 
                        The usefulness of a webcam can also be greatly extended to other HCI applications such as a sign language database or motion controller.
                    </p>
                    <p>
                        Software Specification:
                            Python Libraries: Various Python libraries like OpenCV, NumPy, PyAutoGUI, and TensorFlow can be used for building the Al virtual mouse system.
                            Open CV: This library is used for image and video processing, which can be used for hand detection and tracking.
                            NumPy: NumPy is used for numerical computations, and it is used to process the captured images.
                            PyAutoGUI: PyAuto GUI is used to control the mouse movements and clicks.
                            Mediapipe: A cross-platform framework for building multi-modal applied machine learning pipelines.
                            Comtypes: A Python module that provides access to Windows COM and .NET components.
                            Screen-Brightness-Control: A Python module for controlling the brightness of the screen on Windows, Linux, and macOS.
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">Open-CV/ Computer Vision</li>
                        </ul>
                    </article>
                    
                    <h3 class="project__heading project__heading--meta--cta">Source Code</h3>
                    <a class="cta" href="{{ project['source-code'] }}">
                        
                        <img class="cta__icon" src="{{ url_for('static', filename='img/git.png') }}">
                        View in Github
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}
