{% extends "base.html" %}

{% block content %}
<main class="main main--about"
<p>

    Highly motivated Systems Engineer with 1.10 year of
    hands-on experience in configuration, support,
    troubleshooting, Software Implementation with a strong
    interest in Cyber security(IAM). Dedicated
    and reliable with organized, proactive, and problem-solving
    nature.
</p>
<p>
    Sailpoint Developer in TCS Randstad.
    Develop technical project plans and aid in project resourcing;
    Develop and execute test cases and test plans for SailPoint
    solutions; Development background (i.e. JAVA); Ability to
    communicate with all levels of the organization in
    comprehensive manner (i.e. translate and present technical
    information to business)   
</p>
<p>
    Am currently learning the Python Web Development Frameworks
    such as <strong class="django">Django and Flask </strong>.
</p>
<p>
    Hindustani Classical Music Vocalist.
    Completed my Juniors in Classical Music.
    Am going to Senior classes currently.
    I would love to play instruments such as Guitar and Piano(#selflearn).
</p>

</main>
{% endblock %}

