{% extends "base.html" %}

{% block content %}
<main class="main main-contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact--link" href="mail_to:ganeshgshet8@gamil.com">
                    ganeshgshet8@gamil.com    
                </a>
            </dd>    
        </div>

        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact--link" href="https://github.com/ganesh-shet">
                   GitHub  
                </a>
            </dd>    
        </div>

        <div class="contact">
            <dt>LinkedIN:</dt>
            <dd class="contact__details">
                <a class="contact--link" href="https://www.linkedin.com/in/ganesh-g-shet-95378518b/">
                    LinkedIn    
                </a>
            </dd>    
        </div>
    </dl>


{% endblock %}